<ul class="comment-list">
  <li class="comment-info-inner">
    <article>
      <div class="comment-thumb">
        <img src="images/author/cs-comment-auth1.jpg" alt="image">
      </div>
      <div class="comment-content">
        <h4>Tomas</h4>
        <p>Ed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <div class="cs-cmnt-meta">
          <ul>
            <li>AUGUST 6, 2018</li>
            <li><span>BY </span> Hasin Haydar</li>
          </ul>
          <a href="#">REPLY <i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </article>
    <ul class="children">
      <li class="comment-info-inner">
        <article>
          <div class="comment-thumb">
            <img src="images/author/cs-comment-auth2.jpg" alt="image">
          </div>
          <div class="comment-content">
            <h4>John doe</h4>
            <p>Ed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <div class="cs-cmnt-meta">
              <ul>
                <li>AUGUST 6, 2018</li>
                <li><span>BY </span> Hasin Haydar</li>
              </ul>
              <a href="#">REPLY <i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </li>
  <li class="comment-info-inner">
    <article>
      <div class="comment-thumb">
        <img src="images/author/cs-comment-auth3.jpg" alt="image">
      </div>
      <div class="comment-content">
        <h4>Bagun khan</h4>
        <p>Ed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <div class="cs-cmnt-meta">
          <ul>
            <li>AUGUST 6, 2018</li>
            <li><span>BY </span> Hasin Haydar</li>
          </ul>
          <a href="#">REPLY <i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </article>
  </li>
</ul>
