<div class="">
  <div class="w-cs-single">
    <img src="images/course/cs-small-thumb1.jpg" alt="image">
    <div class="fix">
      <p class="mb-0"><a href="#">Ui / Ux Design</a></p>
      <span><i class="fa fa-clock-o"></i> AUGUST 6, 2017</span>
    </div>
  </div>
</div>
<div class="">
  <div class="w-cs-single">
    <img src="images/course/cs-small-thumb2.jpg" alt="image">
    <div class="fix">
      <p class="mb-0"><a href="#">Learn Java</a></p>
      <span><i class="fa fa-clock-o"></i> AUGUST 6, 2017</span>
    </div>
  </div>
</div>
<div class="">
  <div class="w-cs-single">
    <img src="images/course/cs-small-thumb3.jpg" alt="image">
    <div class="fix">
      <p class="mb-0"><a href="#">C++</a></p>
      <span><i class="fa fa-clock-o"></i> AUGUST 6, 2017</span>
    </div>
  </div>
</div>
<div class="">
  <div class="w-cs-single">
    <img src="images/course/cs-small-thumb4.jpg" alt="image">
    <div class="fix">
      <p class="mb-0"><a href="#">Seo</a></p>
      <span><i class="fa fa-clock-o"></i> AUGUST 6, 2017</span>
    </div>
  </div>
</div>
