<div class="crumbs-area">
  <div class="container">
    <div class="crumb-content">
      <h4 class="crumb-title"><span>Our</span> teachers</h4>
    </div>
  </div>
</div>

<!-- teacher area start -->
<app-teacher-card class="flex"></app-teacher-card>

<div class="cta-area  secondary-bg has-color ptb--50">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-9">
        <div class="cta-content">
          <p class="mb-2">Click to Join the Advance Workshop</p>
          <h2>Training in advance networking</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cta-btn">
          <a class="btn btn-light btn-round" href="#">Join Now</a>
        </div>
      </div>
    </div>
  </div>
</div>